<div>
  <div class ="col_left">
    <h1>Editing post</h1>

    <%= render 'form' %>

    <%= link_to 'Back', posts_path %>
  </div>
  <div class="col_right">
    <%= render 'index' %>
  </div>
</div>
